ACS-Frontend/.firebase/
ACS-Server/.classpath
ACS-Server/.project
ACS-Server/.settings/
ACS-Server/target/
*.lnk
ACS-Utility/.vscode/
ACS-Utility/.idea/
json-parse-test/json-parse-test/.gradle/
json-parse-test/json-parse-test/bin/
