<div class="container">
  <div class="row">
    <form class="mx-auto my-3 border p-3 col-xs-12 col-sm-10 col-md-8">
      <div class="form-group d-flex">
        <select class="form-control" name="fleetType" [(ngModel)]="FleetTypeValue">
          <option value="0">通常艦隊</option>
          <option value="1">遊撃部隊</option>
          <option value="2">水上打撃部隊</option>
          <option value="3">空母機動部隊</option>
          <option value="4">輸送連合部隊</option>
        </select>
        <select class="form-control" name="fleetFormation" [(ngModel)]="FleetFormationValue">
          <option *ngFor="let fleetFormation of FleetFormationList" [value]="fleetFormation.value">{{fleetFormation.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <span class="my-3 mr-3">制空値：{{AntiAirValue1}} / {{AntiAirValue2}}　判定：{{Status1}} / {{Status2}}</span>
        <button type="button" class="btn btn-primary p-1" (click)="calcAAV()">制空値を更新</button>
      </div>
    </form>
  </div>
</div>

<app-own-unit index="1" type={{FleetTypeValue}}></app-own-unit>
<app-own-unit index="2" type={{FleetTypeValue}}></app-own-unit>
<app-own-unit index="3" type={{FleetTypeValue}}></app-own-unit>
<app-own-unit index="4" type={{FleetTypeValue}}></app-own-unit>
<app-own-unit index="5" type={{FleetTypeValue}}></app-own-unit>
<app-own-unit index="6" type={{FleetTypeValue}}></app-own-unit>
<app-own-unit index="7" type={{FleetTypeValue}} [ngClass]="{'d-none': fleetTypeString === '通常'}"></app-own-unit>
<app-own-unit index="8" type={{FleetTypeValue}} [ngClass]="{'d-none': fleetTypeString !== '連合'}"></app-own-unit>
<app-own-unit index="9" type={{FleetTypeValue}} [ngClass]="{'d-none': fleetTypeString !== '連合'}"></app-own-unit>
<app-own-unit index="10" type={{FleetTypeValue}} [ngClass]="{'d-none': fleetTypeString !== '連合'}"></app-own-unit>
<app-own-unit index="11" type={{FleetTypeValue}} [ngClass]="{'d-none': fleetTypeString !== '連合'}"></app-own-unit>
<app-own-unit index="12" type={{FleetTypeValue}} [ngClass]="{'d-none': fleetTypeString !== '連合'}"></app-own-unit>
