<form class="m-3">
  <div class="form-group">
    <label for="mapSelect">マップ</label>
    <select class="form-control" id="mapSelect" name="mapSelect"
      [ngModel]="SelectedMap" (ngModelChange)="changeSelectedMap($event)">
      <option *ngFor="let map of MapList" [value]="map.value">{{map.name}}</option>
    </select>
  </div>
  <div class="form-group" [ngClass]="{'d-none': DisableLevelSelect}">
    <label for="levelSelect">難易度</label>
    <select class="form-control" id="levelSelect" name="levelSelect"
      [ngModel]="SelectedLevel" (ngModelChange)="changeSelectedLevel($event)">
      <option *ngFor="let level of LevelList" [value]="level.value">{{level.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="pointSelect">マス</label>
    <select class="form-control" id="pointSelect" name="pointSelect"
      [ngModel]="SelectedPoint" (ngModelChange)="changeSelectedPoint($event)">
      <option *ngFor="let point of PointList" [value]="point.value">{{point.name}}</option>
    </select>
  </div>
  <img class="w-100 d-inline d-sm-none" src="{{MapUrl}}">
  <img class="d-none d-sm-inline" src="{{MapUrl}}">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">編成</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" wrap="off" readonly>{{FleetInfo}}</textarea>
  </div>
</form>
