<form class="m-3">
  <div class="form-group">
    <label for="mapSelect">マップ</label>
    <select class="form-control" id="mapSelect">
      <option>3-5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="levelSelect">難易度</label>
    <select class="form-control" id="levelSelect">
      <option>甲</option>
      <option>乙</option>
      <option>丙</option>
      <option>丁</option>
    </select>
  </div>
  <div class="form-group">
    <label for="pointSelect">マス</label>
    <select class="form-control" id="pointSelect">
      <option>H (Last)</option>
    </select>
  </div>
  <img class="w-100 d-inline d-sm-none" src="{{MapUrl}}">
  <img class="d-none d-sm-inline" src="{{MapUrl}}">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">編成</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" wrap="off" readonly>
(1)北方棲姫 Lv1　[0]5inch単装高射砲,[64]深海猫艦戦,[68]深海地獄艦爆,[40]深海復讐艦攻
(2)護衛要塞 Lv1　[0]8inch三連装砲,[35]深海棲艦戦 Mark.II,[35]深海棲艦爆 Mark.II
(3)護衛要塞 Lv1　[0]8inch三連装砲,[35]深海棲艦戦 Mark.II,[35]深海棲艦攻 Mark.II
(4)護衛要塞 Lv1　[0]8inch三連装砲,[35]深海棲艦戦 Mark.II,[35]深海棲艦攻 Mark.II
(5)護衛要塞 Lv1　[0]8inch三連装砲,[35]深海棲艦戦 Mark.II,[35]深海棲艦攻 Mark.II
(6)護衛要塞 Lv1　[0]8inch三連装砲,[35]深海棲艦戦 Mark.II,[35]深海棲艦攻 Mark.II
    </textarea>
  </div>
</form>
